
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                        <h5>Uzman Aşçılar</h5>
                        <p>Deneyimli ve yetenekli uzman aşçılarımız, en taze malzemeleri kullanarak lezzet dolu yemekler hazırlar.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                        <h5>Lezzetli Yemekler</h5>
                        <p>Özenle seçilmiş malzemeler ve ustalıkla hazırlanan tarifler ile her damak zevkine hitap eden lezzetli yemekler sunuyoruz.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                        <h5>Çevrimiçi Sipariş</h5>
                        <p>Hızlı ve kolay çevrimiçi sipariş ile lezzetli yemeklerimiz birkaç tık uzağınızda, hemen şimdi sipariş verin! </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                        <h5>Paket Servis</h5>
                        <p>Sıcak ve taze paket servis ile favori lezzetleriniz kapınıza kadar geliyor, hemen sipariş verin ve lezzetli bir deneyim yaşayın!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>